:root{
    --fond: "Saira";
}

main{
    height: 100vh;
    background: #111;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

main h1{
    font-family: var(--fond);
    font-weight: 600;
    color: rgb(255, 71, 0);
}

.inputs{
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

main input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #444;
    background-color: #222;
    padding-left: 20px;
    outline: none;

    font-family: var(--fond);
    font-size: 15px;
    font-weight: 500;
    color: #fff;

    transition: 0.1s ease-out;
}

main input:focus{
    background: #111;
    border: none;
    box-shadow: 0 0 10px rgb(255, 71, 0);

}
main textarea:focus{
    background: #111;
    border: none;
    box-shadow: 0 0 10px rgb(255, 71, 0);
}

main input::placeholder{
    font-family: var(--fond);
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 71, 0);
    
}

main textarea::placeholder{
    font-family: var(--fond);
    font-size: 16px;
    font-weight: 500;
    color: rgb(255, 71, 0);
}

main textarea{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #444;
    background-color: #222;
    padding: 10px 20px 20px 20px;
    outline: none;
    resize: none;

    font-family: var(--fond);
    font-size: 15px;
    font-weight: 500;
    color: #fff;

    transition: 0.1s ease-out;
}

main button{
    width: 200px;
    height: 50px;
    background-color: rgb(255, 71, 0);
    border-radius: 50px;
    border: none;

    font-family: var(--fond);
    font-size: 17px;
    font-weight: 600;
    color: #fff;

    transition: 0.1s ease-out;
}

main button:hover{
    background: none;
    border: 2px solid rgb(255, 71, 0);
}

main button:active{
    transform: scale(0.97);
}

textarea::-webkit-scrollbar {
  width: 8px; 
}

textarea::-webkit-scrollbar-track {
  background: #444;
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background: rgb(255, 71, 0);
  border-radius: 4px;
}



@media (max-width: 480px) {
    .inputs {
        width: 90%; /* Desktop 600px o'rniga mobil 90% ekran kengligi */
    }

    main h1 {
        font-size: 18px; /* mobil kichik ekran uchun */
        text-align: center;
    }

    
}